rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    // Default deny
    match /{document=**} {
      allow read, write: if false;
    }

    // User Profile with name, email and purchased credit balance
    match /users/{userId} {
      allow read, write: if isOwner(userId);

      // Projects/Files collection
      match /projects/{projectId} {
        allow read, write: if isOwner(userId);
      }
    }

    // Transactions log for purchased credits
    match /transactions/{transactionId} {
      allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;
      allow read: if isSignedIn() && resource.data.userId == request.auth.uid;
    }
  }
}
